
.container-fluid{
    margin:0;
    background-color: black;
}

ul{
    list-style: none;
    display: inline-block;
}

li{
    display: inline-block;

.left-ul{
    width:70%;
    padding-left:0;
    margin-bottom: 0;
}

}
div{
    display: inline-block;
    /*width:20%;*/
    /*border: 2px dotted black;*/
}

body{
    background-color: fff;
    width: 95%;
    margin: 0 auto;
}
.left-nav{
    display: inline-block;
    width: 70%;
}

.right-nav{
    display:inline-block;
    float: right;
}

.dropdown1{
    display: inline-block;
    /*width: 100%;*/
}
.dropdown2{
    display: inline-block;
    /*width: 100%;*/
    float: right;
}

.btn-dark{
    display: inline-block;
}

.col-md-6{
    margin: auto;
    margin-right:0;
}

.header-search-input{
    width:50%;
    margin-right: 0;
    padding-left:0;
}

#your-repos-filter{
    width: 40%;
    display: inline-block;
}

.repos-link{

}

.col-md-8{
    margin-left:0;
    float:right;
}

.btn-lg{
    float: right;
}